.pghome{
    margin-left: 10px;
    background-color: rgb(26, 48, 24);
    color: aliceblue;
    font-style: Open sans;
    background-image: url('../Imagenes/pexels-markusspiske-193350.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el fondo */
    /*background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    
}

html {
    font-size: 12px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    line-height: 2;
    letter-spacing: 1px;
}

h1,
h4{
margin-left: 30px;
}

h1 {
    color: rgb(235, 229, 235);
    width: 560px;
    font-size: 40px;
    text-align: center;
    text-shadow: rgb(251, 250, 252) 1px 0 10px;
    margin: auto;
}



.container {
    display: flex;
    align-items: center;
}

.HOME {
    margin-left: 10px; /* Ajusta este valor según tus necesidades */
}

a{
    color:aliceblue;
}

.inicio0 {
    margin-left: 70%; /* Ajusta este valor según tus necesidades */
}

h4{
margin-top: 40%;
}

.inicio {
    color: rgb(211, 205, 201); /* Color del texto */
    border-color:transparent ;
    background-color: transparent; /* Fondo transparente */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    transition: background-color 0.3s; /* Transición suave al pasar el cursor */
    font-family: "Open sans";
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 6px;
    border-radius: 7px;
    cursor: pointer;
    position: relative; /* O absolute, según tus necesidades */
    top: 0.2px; /* Cambia esta cantidad para mover el botón verticalmente */
    left: 8%; /* Cambia esta cantidad para mover el botón horizontalmente */
    border-color: rgb(43, 59, 50);
}


.inicio:hover {
    background-color: rgba(117, 1, 11, 0.363); /* Color vino al pasar el cursor */
    color: rgb(185, 72, 82); /* Texto blanco al pasar el cursor */

}

