

/* Asegurar que el body tenga margen solo en los lados y parte inferior */
body {
    margin: 0 20px 20px 20px;
    background-color: #1a2332;
    color: aliceblue;
}

/* Estilo del encabezado */
header {
    background-color: #414d70;
    padding: 15px 20px;
    margin: 0 -20px; /* Alinea con los márgenes laterales del body */
}

/* Configurar nav para que ocupe todo el ancho sin espacios */
nav {
    background-color: #2c3e50;
    color: white;
    margin: 0 -20px; /* Alinea con los márgenes laterales del body */
    padding: 15px 20px;
}

/* Estilo de los enlaces en la barra de navegación */
nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* Cambiar color de los enlaces al pasar el cursor */
nav a:hover {
    color: rgb(32, 151, 58); /* Cambia este color al que prefieras */
}


p, h4 {
    padding: 2px;
}
